/*.ncb
/*.opensdf
/*.sdf
/*.suo
/*.user
/.vs
WebBrowserRepro/*.aps
WebBrowserRepro/*.eto
WebBrowserRepro/*.user
WebBrowserRepro/ClientBin
WebBrowserRepro/GeneratedArtifacts
WebBrowserRepro/[Bb]in
WebBrowserRepro/[Dd]ebug
WebBrowserRepro/[Rr]elease
WebBrowserRepro/_Pvt_Extensions
WebBrowserRepro/obj
/_ReSharper.*
/ipch
